@import '../../@theme/styles/themes';

@include nb-install-component() {
  .summary-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: nb-theme(background-basic-color-2);
    justify-content: space-between;
    padding: 1.5rem 4rem 1rem;
    border: 1px solid nb-theme(border-basic-color-3);
    border-left: none;
    border-right: none;
  }
  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  nb-card {
    position: relative;
  }

  .flip-icon {
    position: absolute;
    right: 0.625rem;
    top: 1rem;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0.625rem);
    cursor: pointer;
  }

  ::ng-deep .flipped {
    .back-container {
      .flip-icon {
        transform: scaleX(-1);
      }
    }

    .front-container {
      .flip-icon {
        display: none;
      }
    }
  }

  ngx-summary-card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  ::ng-deep nb-card-body {
    overflow: hidden;
    display: flex;
  }
  ngx-trend-chart-line,
  ngx-vuln-type-chart-pie {
    display: block;
    height: nb-theme(card-height-small);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .stat {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }
  .desc {
    text-align: center;
    font-size: small;
    font-style: italic;
  }
  .metrics-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if there's not enough room */
    gap: 2px; /* Adds space between the flex items */
  }

  .metric-card {
    flex: 1 1 400px; /* Grow and shrink, but start with a base width of 200px */
    min-width: 400px; /* Prevent the card from being smaller than 200px */
    max-width: 100%; /* Ensure the card doesn't grow beyond the container's width */
  }
}

::ng-deep .ng-invalid:not(form) {
  background-color: lightcoral;
}
::ng-deep .right {
  float: right;
}
h3 {
  text-align: center;
}
:host ::ng-deep ng2-smart-table table tr td {
  font-size:0.9em;
  word-break: break-all;
}
