.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 0.8rem;
  color: #999;
}

.avg {
  font-size: 1.1rem;
  font-weight: bold;
  bottom: 0;
  position: absolute;
  padding-bottom: 5px;
}

nb-progress-bar {
  padding-bottom: 5px;
}

