<a href="/">Dashboard</a> / <a [href]="'/pages/show/project/'+projectId">{{projectName}}</a> / {{project.name}} <br/> <br/>
<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Dashboard" tabIcon="archive-outline" responsive>
        <div class="row">
          <nb-card class="col-md-8">
            <nb-card-body>
              <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                <!-- Project Name -->
                <h2 style="margin-bottom: 1rem;">{{ assetDashboardModel?.assetName }}</h2>

                <!-- Icon and Location -->
                <a nbButton [href]="assetDashboardModel?.target" target="_blank" style="display: flex; align-items: center;">
                  <nb-icon icon="{{ icon }}"></nb-icon>
                  <span style="margin-left: 0.5rem;">{{ assetDashboardModel?.target }}</span>
                </a>

                <!-- Date of Creation -->
                <small *ngIf="assetDashboardModel?.branch" style="margin-top: 1rem;">Default branch: {{assetDashboardModel?.branch}}</small>
                <small style="margin-top: 1rem;">Created: {{ assetDashboardModel?.created | date }}</small>
              </div>
            </nb-card-body>
          </nb-card>

          <div class="col-md-4">
            <ngx-ci-operations [ciOperations]="ciOperations" *ngIf="ciOperations" [chartValue]="ciOperationSuccessRate"></ngx-ci-operations>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <nb-card>
              <nb-card-header>
                <div class="d-flex justify-content-between">
                  <h4>Security gateway:</h4>
                  <button nbTooltip="Information of the status of the security gateway based on detected threats" nbButton [status]="assetDashboardModel?.securityGateway">{{assetDashboardModel?.securityGateway | uppercase}}</button>
                </div>
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header>
                <div class="d-flex justify-content-between">
                  <h4>Vulnerabilities:</h4>
                  <button nbTooltip="Opened Critical Vulnerabilities" nbButton status="danger">{{ assetDashboardModel?.vulnerabilities.crit}}</button>
                  <button nbTooltip="Opened High Vulnerabilities" nbButton status="warning">{{ assetDashboardModel?.vulnerabilities.high}}</button>
                  <button nbTooltip="Opened Medium Vulnerabilities" nbButton status="info">{{ assetDashboardModel?.vulnerabilities.medium}}</button>
                  <button nbTooltip="Opened Low Vulnerabilities" nbButton status="primary">{{ assetDashboardModel?.vulnerabilities.low}}</button>
                </div>
              </nb-card-header>
            </nb-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <nb-card >
              <nb-card-body>
                <div class="row">
                  <div class="col-4">
                    <div class="card-title" >Issues</div>
                    <div class="card-subtitle">Solved issues</div>
                    <div class="avg">Total: {{ assetDashboardModel?.solvedIssues.total}}</div>
                  </div>
                  <div class="col-8 d-flex flex-column justify-content-center0.00.">
                      <nb-progress-bar [nbTooltip]="assetDashboardModel?.solvedIssues.crit + ' Critical Issues Solved (' + assetDashboardModel?.solvedIssues.critPercent + '%)'"
                                       [value]="assetDashboardModel?.solvedIssues.critPercent" status="danger">
                        {{ assetDashboardModel?.solvedIssues.crit}}
                      </nb-progress-bar>
                      <nb-progress-bar [nbTooltip]="assetDashboardModel?.solvedIssues.high + ' High Issues Solved (' + assetDashboardModel?.solvedIssues.highPercent + '%)'"
                                       [value]="assetDashboardModel?.solvedIssues.highPercent" status="warning">
                        {{ assetDashboardModel?.solvedIssues.high}}
                      </nb-progress-bar>
                      <nb-progress-bar [nbTooltip]="assetDashboardModel?.solvedIssues.medium + ' Medium Issues Solved (' + assetDashboardModel?.solvedIssues.mediumPercent + '%)'"
                                       [value]="assetDashboardModel?.solvedIssues.medium" status="info">
                        {{ assetDashboardModel?.solvedIssues.medium}}
                      </nb-progress-bar>
                      <nb-progress-bar [nbTooltip]="assetDashboardModel?.solvedIssues.low + ' Low Issues Solved (' + assetDashboardModel?.solvedIssues.lowPercent + '%)'"
                                       [value]="assetDashboardModel?.solvedIssues.lowPercent" status="primary">
                        {{ assetDashboardModel?.solvedIssues.low}}
                      </nb-progress-bar>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card >
              <nb-card-body>
                <div class="row">
                  <div class="col-4">
                    <div class="card-title" nbTooltip="test">TTR</div>
                    <div class="card-subtitle">Time to resolve [days]</div>
                    <div class="avg">Avg: {{ assetDashboardModel?.timeToResolve.total}}</div>
                  </div>
                  <div class="col-8 d-flex flex-column justify-content-center0.00.">
                    <nb-progress-bar [nbTooltip]="'Average time to resolve Critical issues: ' + assetDashboardModel?.timeToResolve.crit" [value]="assetDashboardModel?.timeToResolve.critPercent"
                                     status="danger">
                      {{ assetDashboardModel?.timeToResolve.crit}}
                    </nb-progress-bar>
                    <nb-progress-bar [nbTooltip]="'Average time to resolve High issues: ' + assetDashboardModel?.timeToResolve.high" [value]="assetDashboardModel?.timeToResolve.highPercent"
                                     status="warning">
                      {{ assetDashboardModel?.timeToResolve.high}}
                    </nb-progress-bar>
                    <nb-progress-bar [nbTooltip]="'Average time to resolve Medium issues: ' + assetDashboardModel?.timeToResolve.medium" [value]="assetDashboardModel?.timeToResolve.mediumPercent"
                                     status="info">
                      {{ assetDashboardModel?.timeToResolve.mediumPercent}}
                    </nb-progress-bar>
                    <nb-progress-bar [nbTooltip]="'Average time to resolve Low issues: ' + assetDashboardModel?.timeToResolve.low" [value]="assetDashboardModel?.timeToResolve.lowPercent"
                                     status="primary">
                      {{ assetDashboardModel?.timeToResolve.low}}
                    </nb-progress-bar>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card >
              <nb-card-body>
                <div class="row">
                  <div class="col-4">
                    <div class="card-title" nbTooltip="test">Revieved</div>
                    <div class="card-subtitle">Number of revieved issues</div>
                    <div class="avg">Total: {{ assetDashboardModel?.reviewedIssues.total }}</div>
                  </div>
                  <div class="col-8 d-flex flex-column justify-content-center0.00.">
                    <nb-progress-bar [nbTooltip]="assetDashboardModel?.reviewedIssues.crit + ' Critical Issues has been revieved (' + assetDashboardModel?.reviewedIssues.critPercent + '%)'"
                                     [value]="assetDashboardModel?.reviewedIssues.critPercent"
                                     status="danger">
                      {{assetDashboardModel?.reviewedIssues.crit}}
                    </nb-progress-bar>
                    <nb-progress-bar [value]="assetDashboardModel?.reviewedIssues.highPercent"
                                     [nbTooltip]="assetDashboardModel?.reviewedIssues.high + ' High Issues has been revieved (' + assetDashboardModel?.reviewedIssues.highPercent + '%)'"
                                     status="warning">
                      {{assetDashboardModel?.reviewedIssues.high}}
                    </nb-progress-bar>
                    <nb-progress-bar [value]="assetDashboardModel?.reviewedIssues.mediumPercent"
                                     [nbTooltip]="assetDashboardModel?.reviewedIssues.medium + ' Medium Issues has been revieved (' + assetDashboardModel?.reviewedIssues.mediumPercent + '%)'"
                                     status="info">
                      {{assetDashboardModel?.reviewedIssues.medium}}
                    </nb-progress-bar>
                    <nb-progress-bar [value]="assetDashboardModel?.reviewedIssues.lowPercent"
                                     [nbTooltip]="assetDashboardModel?.reviewedIssues.low + ' Low Issues has been revieved (' + assetDashboardModel?.reviewedIssues.lowPercent + '%)'"
                                     status="primary">
                      {{assetDashboardModel?.reviewedIssues.low}}
                    </nb-progress-bar>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <ngx-vuln-trend-area-stack [vulnTrendChart]="vulnTrendChart" *ngIf="vulnTrendChart"></ngx-vuln-trend-area-stack>
          </div>
          <div class="col-md-4">
            <ngx-new-vulns *ngIf="newVulns" [newVulns]="newVulns"></ngx-new-vulns>
          </div>
        </div>

      </nb-tab>
      <nb-tab tabTitle="Vulnerabilities" tabIcon="alert-triangle-outline" responsive>

        <ngx-asset-vulns-table *ngIf="extendedVulnerabilities" [vulns]="extendedVulnerabilities" [defBranch]="assetDashboardModel.branch"></ngx-asset-vulns-table>
      </nb-tab>
      <nb-tab tabTitle="Scans" tabIcon="search-outline" responsive>
        <ngx-asset-scans [assetId]="_entityId" [assetType]="assetType"></ngx-asset-scans>
      </nb-tab>
      <nb-tab tabTitle="CICD" tabIcon="play-circle-outline" responsive>
        <ngx-asset-cicd></ngx-asset-cicd>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>



