<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12 d-flex justify-content-between">
    <div>
      <button nbButton status="info"><nb-icon icon="info-outline"></nb-icon>Instructions on how to configure scanning </button>
    </div>
    <div>
      <button nbButton status="primary" (click)="showConfig()"><nb-icon icon="file-text-outline"></nb-icon>Generate config files </button>
    </div>
  </div>
</div>

<br/>
<div class="lists row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card" size="large">
      <nb-card-header>CICD Operations</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let scan of cicdOperations">
          <div class="row col-md-12 d-flex align-items-center">
            <div class="col-md-3 date-source d-flex justify-content-center">
              <button nbButton [status]="scan.result === 'Ok' ? 'success' : 'danger'">{{scan.result === 'Ok' ? 'Success' : 'Failed' }}</button>
            </div>
            <div class="col-md-3 branch-commit text-center">
              <span>Branch: {{scan.branch}}</span><br/>
              <small>CommitId: {{scan.commitId}}</small><br/>
              <small> {{scan.inserted}}</small>
            </div>
            <div class="col-md-6 vulnerabilities">
              <div class="row">
                <div class="col-md-2 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.codeScan ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.codeScan ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>SAST</small>
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.dastScan ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.dastScan ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>DAST</small>
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.scaScan ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.scaScan ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>SCA</small>
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.secretScan ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.secretScan ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>Secrets</small>
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.iacScan ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.iacScan ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>IaC</small>
                </div>
              </div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>


<ng-template #showConfigTemplate let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Config for asset</nb-card-header>
    <nb-card-body style="max-height: 60vh;overflow-y: scroll;">
      <div>This is config that has to be put in <pre>mixeway.yaml</pre> file in root directory of GIT repository in order to
      properly perform scanning.<br/> Make sure to remove all comments and fill proper values.
      In some scenarios You will have to generate link between SCA scanner and mixeway before proceeding.</div>
      <br/>
      <div>This one represent configuration for static analysis. If You would like to combine SAST and DAST scanns You need to:
      <ul>
        <li>1. Register Web Application if You haven't already </li>
        <li>2. Generate config for particular or every WebApp and concatenate YAML files</li>
      </ul>
      </div>

      <pre>{{yamlString }}</pre>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


