<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12 d-flex justify-content-between">
    <div>
      <button nbButton status="info"><nb-icon icon="info-outline"></nb-icon>Instructions on how to configure scanning </button>
    </div>
    <div>
      <button nbButton status="primary"><nb-icon icon="file-text-outline"></nb-icon>Generate config files </button>
    </div>
  </div>
</div>

<br/>
<div class="lists row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card" size="large">
      <nb-card-header>CICD Operations</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let scan of cicd">
          <div class="row col-md-12 d-flex align-items-center">
            <div class="col-md-4 date-source d-flex justify-content-center">
              <button nbButton [status]="scan.result === 'OK' ? 'success' : 'danger'">{{scan.result === 'OK' ? 'Success' : 'Failed' }}</button>
            </div>
            <div class="col-md-4 branch-commit text-center">
              <span>Branch: {{scan.branch}}</span><br/>
              <small>CommitId: {{scan.commitid}}</small><br/>
              <small> {{scan.date}}</small>
            </div>
            <div class="col-md-4 vulnerabilities">
              <div class="row">
                <div class="col-md-3 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.sast ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.sast ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>SAST</small>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.dast ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.dast ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>DAST</small>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.sca ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.sca ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>SCA</small>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                  <button nbButton shape="semi-round" [status]="scan.secrets ? 'success' : 'danger'">
                    <nb-icon [icon]="scan.secrets ? 'done-all-outline' : 'close-outline'"></nb-icon>
                  </button><br/>
                  <small>Secrets</small>
                </div>
              </div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
